html
  head
    style
      include css/bootstrap.css
      include css/inputForm.css
    meta(charset='UTF-8')
    meta(name="viewport" content="width=device-width, initial-scale=1")
    title AIS App
  body
    .container
      form.form-horizontal(name='form', method='POST',action='/AISapp')
          fieldset
            center
              legend New link
            // NAME
            .form-group
              label.control-label(for="inputNormal") Name
              input.form-control(name='name', type='text', placeholder="type name here..")
            // PATH
            .form-group
              label.control-label(for="inputNormal") Link
              input.form-control(name='link', type='text', placeholder="ex : aisapp://service")
            // SUBMIT
            button.btn.btn-primary(type='submit') Submit
      each result,index in results
        if (index%15 >= 12)
          a.btn.btn-warning.btn-lg.custom(href="#{result.link}")
            |#{result.name}
        else if (index%15 >= 9)
          a.btn.btn-info.btn-lg.custom(href="#{result.link}")
            |#{result.name}
        else if (index%15 >= 6)
          a.btn.btn-success.btn-lg.custom(href="#{result.link}")
            |#{result.name}
        else if (index%15 >= 3)
          a.btn.btn-primary.btn-lg.custom(href="#{result.link}")
            |#{result.name}
        else
          a.btn.btn-default.btn-lg.custom(href="#{result.link}")
            |#{result.name}
        div(width='100px' style="float:right;")
          a.btn.btn-default.btn-lg(href='/deleteAISapp?_id=#{result._id}',onclick="return confirm('Path : #{result.link}, delete this link?');")
            img(style="margin-top: -5px;" src="assets/ic_delete_grey_24dp_1x_mid.png")
        br
        br
    script(src='js/jquery.min.js')
    script(src='js/bootstrap.js')
    script.
      $('.form-control').on('focus blur', function (e) {
          $(this).parents('.form-group').toggleClass('focused', (e.type === 'focus' || this.value.length > 0));
      }).trigger('blur');

